<svg class="icon icon-cart-empty basket_style"
aria-hidden="true"
focusable="false"
 width="15" 
 height="15" 
 viewBox="0 0 20 20" 
 fill="none" 
 xmlns="http://www.w3.org/2000/svg">

 <path d="M7.8125 16.875C7.8125 17.184 7.72086 17.4861 7.54917 17.7431C7.37748 18 7.13345 18.2003 6.84794 18.3186C6.56243 18.4368 6.24827 18.4678 5.94517 18.4075C5.64208 18.3472 5.36367 18.1984 5.14515 17.9799C4.92663 17.7613 4.77781 17.4829 4.71752 17.1798C4.65723 16.8767 4.68818 16.5626 4.80644 16.2771C4.9247 15.9915 5.12497 15.7475 5.38192 15.5758C5.63887 15.4041 5.94097 15.3125 6.25 15.3125C6.66377 15.3146 7.06 15.4798 7.35259 15.7724C7.64517 16.065 7.81045 16.4612 7.8125 16.875V16.875ZM14.375 15.3125C14.066 15.3125 13.7639 15.4041 13.5069 15.5758C13.25 15.7475 13.0497 15.9915 12.9314 16.2771C12.8132 16.5626 12.7822 16.8767 12.8425 17.1798C12.9028 17.4829 13.0516 17.7613 13.2701 17.9799C13.4887 18.1984 13.7671 18.3472 14.0702 18.4075C14.3733 18.4678 14.6874 18.4368 14.9729 18.3186C15.2585 18.2003 15.5025 18 15.6742 17.7431C15.8459 17.4861 15.9375 17.184 15.9375 16.875C15.9354 16.4612 15.7702 16.065 15.4776 15.7724C15.185 15.4798 14.7888 15.3146 14.375 15.3125V15.3125ZM18.2266 5.88281L16.3359 12.4766C16.2042 12.9326 15.9282 13.3336 15.5493 13.6195C15.1704 13.9055 14.709 14.0609 14.2344 14.0625H6.39063C5.91596 14.0609 5.4546 13.9055 5.07572 13.6195C4.69683 13.3336 4.42082 12.9326 4.28906 12.4766L2.40625 5.89844C2.40625 5.89062 2.39844 5.875 2.39844 5.86719L1.70312 3.4375H0.9375C0.68886 3.4375 0.450403 3.33873 0.274587 3.16291C0.098772 2.9871 0 2.74864 0 2.5C0 2.25136 0.098772 2.0129 0.274587 1.83709C0.450403 1.66127 0.68886 1.5625 0.9375 1.5625H1.9375C2.27698 1.56507 2.60667 1.67651 2.87808 1.88043C3.1495 2.08435 3.34833 2.36998 3.44531 2.69531L4.00781 4.6875H17.3203C17.4653 4.68833 17.6082 4.72251 17.7379 4.78739C17.8676 4.85227 17.9806 4.94612 18.0682 5.06168C18.1558 5.17723 18.2157 5.31139 18.2431 5.45378C18.2706 5.59617 18.2649 5.74297 18.2266 5.88281V5.88281ZM16.0781 6.5625H4.54688L6.08594 11.9609C6.10593 12.0263 6.14628 12.0835 6.20109 12.1242C6.25591 12.165 6.32232 12.1872 6.39063 12.1875H14.2344C14.3027 12.1872 14.3691 12.165 14.4239 12.1242C14.4787 12.0835 14.5191 12.0263 14.5391 11.9609L16.0781 6.5625Z" fill="#1C1A1D"/>
</svg>

