<svg width="7" height="6" class="icon icon-caret" viewBox="0 0 7 6" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7 0.5L3.5 5.5L-1.19209e-07 0.5L7 0.5Z" fill="#1C1A1D"/>
</svg>
