{{ 'banner.css' | asset_url | stylesheet_tag }}

<script src="{{ 'banner.js' | asset_url }}" defer="defer"></script>

{% style %}
    .banner{
        background-color: {{section.settings.section_background}};
    }   
    .banner-image-url{
            background-image: url("{{ section.settings.image_bg_url | img_url: 'master' }}");
            background-size: cover;
            background-position: center;
    }
    .banner_sab_title{
        color: {{section.settings.text_color}};
    }
    .banner_title{
        color: {{section.settings.text_color}};
    }
    .slider_link_text{
        color: {{section.settings.text_color}};
    }
    .banner-slider_item:hover .slider_link_text {
        color: {{section.settings.banner_slider_link_color_hover}};
    }
    .banner-slider_item:hover svg path{
        fill: {{section.settings.banner_slider_link_color_hover}};
    }
        
    {% endstyle %}

    <div class="banner">
        <div class="banner-image-url">
            <div class="container">
            <div class="banner_sab_title">{{section.settings.banner_sab_title}}</div>
            <div class="banner_title">{{section.settings.banner_title}}</div>
            <div class="banner_wrapper_button">
                <div class="phone-block">{{section.settings.phone_svg}}</div>
                <button class="button_base button_middle buttoon_banner">
                    {{section.settings.banner_text_button}}
                    {{section.settings.button_arrow_svg}}
                </button>
            </div>
        </div>
        </div>
        <div class="banner_slider_wrapper">
            <div class="swiper bannerSlider ">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide swiper__slide_banner">
                            <a href="#" class="banner-slider_item">
                                <div class="banner-slider_image">
                                    <img src="{{block.settings.banner_slider_image | img_url: 'master'}}" alt="{{block.settings.banner_slider_image.alt}}">
                                </div>
                                <div class="banner_slider_wrapper_link">
                                    <div class="slider_link_text main_title">{{block.settings.banner_slider_link_text}}</div>
                                    <div class="slider_link_arrow_svg">{{section.settings.link_arrow_svg}}</div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
              </div>
              <div class="featured-block featured-block_banner">
                <div class="swiper_wrapper_button swiper_wrapper_button_banner swiper_wrapper_button_right">
                    <div class="swiper_button swiper-button-next swiper-button-next_banner"></div>
                    <div class="swiper_button swiper-button-prev swiper-button-prev_banner"></div>  
                </div>
                <div class="swiper-pagination_banner swiper__dot"></div>
            </div>
        </div>
    </div>

{% schema %}
    {
        "name": "Banner",
        "settings": [
            {
                "type": "color",
                "id": "section_background",
                "label": "Background color",
                "default": "#1C1A1D"
            },
            { 
                "type": "image_picker",
                "id": "image_bg_url",
                "label": "Background image"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#FFFFFF"
            },
            {
                "type": "text",
                "id": "banner_sab_title",
                "label": "Sab title"
            },
            {
                "type": "text",
                "id": "banner_title",
                "label": "Title",
                "default": "Sports equipment for the whole family, choose quality"
            },
            {
                "type": "color",
                "id": "background_button",
                "label": "Background button",
                "default": "#FFC000"
            },
            {
                "type": "text",
                "id": "banner_text_button",
                "label": "Text button",
                "default": "Get started"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            },
            {
                "type": "html",
                "id": "button_arrow_svg",
                "label": "Button arrow svg"
            },
            {
                "type": "html",
                "id": "phone_svg",
                "label": "Phone svg"
            },
            {
                "type": "html",
                "id": "link_arrow_svg",
                "label": "Link arrow svg"
            }
        ], 
        "blocks": [
           {
            "type": "block",
            "name": "Banner slider item",
            "settings": [
                    {
                        "type": "color",
                        "id": "banner_slider_link_color_hover",
                        "label": "Text hover color",
                        "default": "#FFC000"
                    },
                    {
                        "type": "image_picker",
                        "id": "banner_slider_image",
                        "label": "Slider image"
                    },
                    {
                        "type": "text",
                        "id": "banner_slider_link_text",
                        "label": "Slider text link"
                    },
                    {
                        "type": "url",
                        "id": "banner_slider_link",
                        "label": "Slider link"
                    }
            ]
           }
        ],
        "presets": [
            {
                "name": "Banner section"
            }
        ]
    }
{% endschema %}