{{ 'benefits.css' | asset_url | stylesheet_tag }}

{% style %}
.benefits{
        background-color: {{section.settings.section_background}};
    }
    
{% endstyle %}

<div class="benefits">
    <div class="container">
        <div class="benefits_wrapper">
            {% for block in section.blocks %}
                <div class="benefits_item">
                    <div class="benefits_item-image">
                        <img class="benefits_item-image" src="{{block.settings.benefit_image | img_url: 'master' }}" alt="{{block.settings.benefit_image.alt}}">
                    </div>
                    <div class="benefits_item-title main_title main_title">
                        {{block.settings.benefit_title}}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Benefits",
        "settings": [
            {
                "type": "color",
                "id": "section_background",
                "label": "Background color"
            }
        ],
        "blocks": [
            {
                "type": "block",
                "name": "Benefit item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "benefit_image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "benefit_title",
                        "label": "Title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Benefits section"
            }
        ]
    }
{% endschema %}