{{ 'blog.css' | asset_url | stylesheet_tag }}

<script src="{{ 'blog.js' | asset_url }}" defer="defer"></script>

{% style %}
    .title_sections_blog{
        color: {{section.settings.color_title_text}};
    }
    
    {% endstyle %}

<div class="container">
    <div class="blog">
    <div class="blog_wrapper_top">
        <div class="title_sections title_sections_blog">{{section.settings.section_title}}</div>
        <button class="button_base button_middle button_orange main_title">{{section.settings.button_text}}</button>
    </div>
        <div class="swiper blogSlider">
            <div class="swiper-wrapper blog_wrapper">
                {% for block in section.blocks%}
                    <div class="swiper-slide">
                        <a href="#" class="blog_wrapper_card">
                            <div class="blog_wrapper_image">
                                <img src="{{block.settings.image_blog | img_url: 'master'}}" alt="{{lock.settings.image_blog.alt}}">
                            </div>
                            <div class="blog_sab_title main_title">{{block.settings.blog_sab_title}}</div>
                            <div class="blog_title main_title">{{block.settings.blog_title}}</div>
                            <div class="blog_wrapper_link">
                                <div class="blog_link_text main_title">{{block.settings.blog_text_link}}</div>
                                <div class="blog_link_svg">{{block.settings.blog_arrow_svg}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
          </div>
</div>
</div>

{% schema %}
    {
        "name": "Blog",
        "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title",
                "default": "Blog"
            }, 
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link"
            },
            {
                "type": "color",
                "id": "color_title_text",
                "label": "Color title",
                "default": "#1C1A1D"
            }

        ],
        "blocks": [
            {
                "name": "Blog item",
                "type": "block",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image_blog",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "blog_sab_title",
                        "label": "Sab title"
                    },
                    {
                        "type": "text",
                        "id": "blog_title",
                        "label": "Title"
                    },
                    {
                        "type": "text",
                        "id": "blog_text_link",
                        "label": "Text link"
                    },
                    {
                        "type": "html",
                        "id": "blog_arrow_svg",
                        "label": "Arrow svg"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Blog section"
            }
        ]

    }
{% endschema %}