{{ 'cards.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cards.js' | asset_url }}" defer="defer"></script>

<div class="container">
    <div class="cards">
            <div class="swiper cardsSlider">
                <div class="swiper-wrapper cards_wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <a href="#" class="card_item">
                                <div class="card_image">
                                    <img src="{{block.settings.card_image | img_url: 'master'}}"alt="block.settings.card_image.alt">
                                </div>
                                <div class="card_item_text">
                                    <div class="card_title main_title">{{block.settings.card_title}}</div>
                                    <div class="card_description main_title ffff">{{block.settings.card_description}}</div>
                                    <button class="button_base button_middle button_orange">{{block.settings.card_button_text}}</button>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination_cards swiper__dot"></div>
              </div>
</div>
</div>

{% schema %}
    {
        "name": "Cards",
        "blocks": [
            {
                "type": "block",
                "name": "Card item",
                "limit": 4,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "card_image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "card_title",
                        "label": "Title"
                    },
                    {
                        "type": "textarea",
                        "id": "card_description",
                        "label": "Description"
                        
                    },
                    {
                        "type": "text",
                        "id": "card_button_text",
                        "label": "Button text"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Button link"
                    }
                ]
            }
            
        ],
        "presets": [
            {
                "name": "Cards section"
            }
        ]
    }
{% endschema %}