{{ 'comments.css' | asset_url | stylesheet_tag }}
<script src="{{ 'comments.js' | asset_url }}" defer="defer"></script>
{% style %}
    .comments{
    background-image: url("{{ section.settings.image_bg_url | img_url: 'master' }}");
    background-size: cover;
    background-position: center;
}
{% endstyle %}

<div class="comments">
   <div class="container">
    <div class="comments_wrapper">
        <div class="comments_title main_title">{{section.settings.comments_title}}</div>
    <img src="{{section.settings.comments_image | img_url: 'master'}}" alt="{{section.settings.comments_image.alt}}">
    <div class="swiper commentsSwiper">
        <div class="swiper-wrapper">
            {% for block in section.blocks %}
                <div class="swiper-slide">
            <div class="slider_content">
                <p class="comment-text main_title">{{block.settings.comments_text}}</p>
                <div class="user_name main_title">{{block.settings.user_name}}</div>
            </div>
          </div>
            {% endfor %}
        </div>
      </div>
      <div class="featured-block">
        <div class="swiper_wrapper_button swiper_wrapper_button_right">
            <div class="swiper_button swiper-button-next swiper-button-next_comments"></div>
            <div class="swiper_button swiper-button-prev swiper-button-prev_comments"></div>  
        </div>
        <div class="swiper-pagination_comments swiper__dot"></div>
    </div>
      </div>
    </div>
   </div>
</div>

{% schema %}
    {
        "name": "Comments",
        "settings": [
            {
                "type": "text",
                "id": "comments_title",
                "label": "Title",
                "default": "what customers say?"
            },
            {
                "type": "image_picker",
                "id": "comments_image",
                "label": "Image"
            },
            { 
                "type": "image_picker",
                "id": "image_bg_url",
                "label": "Image bg url"
            }
        ],
        "blocks": [
            {
                "name": "Slide",
                "type": "slider",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "comments_text",
                        "label": "Comment text"
                    },
                    {
                        "type": "text",
                        "id": "user_name",
                        "label": "User name"
                    }
                ]   
            }
        ],
        "presets": [
            {
                "name": "Comments section"
            }
        ]
    }
{% endschema %}