{{ 'companies.css' | asset_url | stylesheet_tag }}

{% style %}
    .companies{
        background-color: {{ section.settings.section_background }};
    }
{% endstyle %}


    <div class="companies">
    <div class="container">
        <div class="companies_wrapper">
            {% for block in section.blocks %}
                <div class="company_item">
                    <img class="company_item-image" src="{{block.settings.company_image | img_url: 'master' }}" alt="{{block.settings.company_image.alt}}">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% schema %}
    {
        "name": "Companies",
        "settings": [
            {
                "type": "color",
                "id": "section_background",
                "label": "Background color"
            }
        ],
        "blocks": [
            {
                "type": "block",
                "name": "Company item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "company_image",
                        "label": "Image"
                    },
                    {
                        "type": "url",
                        "id": "button_link",
                        "label": "Company link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Companies section"
            }
        ]
    }
{% endschema %}