{{ 'gallery.css' | asset_url | stylesheet_tag }}
<script src="{{ 'gallery.js' | asset_url }}" defer="defer"></script>

{% style %}
    .gallery{
      background-color: {{section.settings.section_background}};
    }
    .button_base{
      background-color: {{section.settings.button_background_color}};
      color: {{section.settings.button_text_color}};
    }
    .title_sections_gallery{
      color: {{section.settings.text_color}};
    } 
    {% endstyle %}

<div class="gallery">
    <div class="container">
        <div class="title_sections_wrapper">
          <div class="title_sections title_sections_gallery">{{section.settings.gallery_title}}</div>
        </div>
        <div class="gallery_wrapper">
            <div thumbsSlider="" class="swiper gallerySlider">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                  <div class="swiper-slide swiper__slide_gallery">
                    <div class="swiper_slide_gallery_item">
                      <img src="{{block.settings.gallery_slide_image1 | img_url: 'master'}}" alt="block.settings.gallery_slide_image1.alt"  />
                    </div>
                    <div class="swiper_slide_gallery_item">
                      <img src="{{block.settings.gallery_slide_image2 | img_url: 'master'}}" alt="block.settings.gallery_slide_image2.alt"  />
                    </div>
                    <div class="swiper_slide_gallery_item">
                      <img src="{{block.settings.gallery_slide_image3 | img_url: 'master'}}" alt="block.settings.gallery_slide_image3.alt"  />
                    </div>
                    </div>
              {% endfor %}
              </div>
            </div>
            <div class=" swiper_wrapper_button gallerry_swiper_wrapper_button">
              <div class="swiper-button-next_gallery swiper_button swiper-button-next gallery_swiper_button_next"></div>
              <div class="swiper-button-prev_gallery swiper_button swiper-button-prev gallery_swiper_button_prev"></div>  
            </div>
            <div class="swiper-pagination swiper-pagination_gallery swiper__dot"></div>
        </div>
        <div class="gallery_button_wraper">
          <button class=" button_base button_big">{{section.settings.button_text}}</button>
        </div>
    </div>
</div>

    {% schema %}
        {
            "name": "Gallery",
            "settings": [
                  {
                        "type": "color",
                        "id": "section_background",
                        "label": "Background color",
                        "default": "#1C1A1D"
                    },
                  {
                        "type": "text",
                        "id": "gallery_title",
                        "label": "Title",
                        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
                    },
                    {
                        "type": "color",
                        "id": "text_color",
                        "label": "Text color",
                        "default": "#fff"
                    },
                    {
                        "type": "text",
                        "id": "button_text",
                        "label": "Button text",
                        "default": "7 days free"
                    },
                    {
                          "type": "url",
                          "id": "button_url",
                          "label": "Button URL"
                    },
                    {
                          "type": "color",
                          "id": "button_background_color",
                          "label": "Button background color",
                          "default": "#FFC000"
                    },
                    {
                          "type": "color",
                          "id": "button_text_color",
                          "label": "Button text color",
                          "default": "#1C1A1D"
                    }
            ],
            "blocks": [
                {
                    "type": "block",
                    "name": "Gallery slide",
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "gallery_slide_image1",
                            "label": "Image 1"
                        },
                        {
                            "type": "image_picker",
                            "id": "gallery_slide_image2",
                            "label": "Image 2"
                        },
                        {
                            "type": "image_picker",
                            "id": "gallery_slide_image3",
                            "label": "Image 3"
                        }
                    ]
                }
            ],
            
            "presets": [
            {
                "name": "Gallerysection"
            }
        ]
        }
    {% endschema %}