{{ 'information-block.css' | asset_url | stylesheet_tag }}
<script src="{{ 'information-block.js' | asset_url }}" defer="defer"></script>

<div class="information-block">
    <div class="container">
        <div class="information-block_wrapper">
            <div class="information-block_img">
                <img src="{{section.settings.image_page | img_url: 'master'}}" alt="section.settings.image_page.alt">
            </div>
            <div class="information-block_text">
                <div class="information-block_title main_title">{{section.settings.section_title}}</div>
                <p class="main_title">{{section.settings.paragraph}}</p>
            </div>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Information-block",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_page",
                "label": "Image page"
            },
            {
                "type": "text",
                "id": "section_title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "paragraph",
                "label": "Paragraph"
            }
        ],
        "presets": [
            {
                "name": "Information-block"
            }
        ]
    }
{% endschema %}