{{ 'main-footer.css' | asset_url | stylesheet_tag }}

{% style %}
  .main_footer {
    background-color: {{ section.settings.background_color}}
    ;
  }
  .main_footer_content_copyright p {
    color: {{ section.settings.text_color}}
    ;
  }
  .main_footer_content_main_link-title {
    color: {{ section.settings.text_color}}
    ;
  }
  .main_footer_content_main_link_items a {
    color: {{ section.settings.text_color}};
  }
  {% for block in section.blocks %}
    .main_footer_action_button-{{ forloop.index0}}> a {
      color: {{ block.settings.button_text_color}};
    }
    .main_footer_action_button-{{ forloop.index0}}{
      background-color: {{ block.settings.button_background_color}};
    }
  {% endfor %}
  .main_footer_action_newsletter_title{
    color: {{ section.settings.text_color}};
  }
  .main_footer_action_newsletter_content{
    color: {{ section.settings.text_color}};
  }
  .main_footer_action_newsletter_input::placeholder {
    color: {{ section.settings.secondary_color}};
  }
{% endstyle %}

<div class="main_footer">
  <div class="main_footer_wrapper">
    <div class="main_footer_content">
      <div class="main_footer_content_head">
        <div class="main_footer_content_head-logo">
          {% if section.settings.image != blank %}
            <img src="{{section.settings.image | img_url: 'master' }}" alt="{{section.settings.image.alt}}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </div>
        <div class="main_footer_content_head-social">
          {% if section.settings.icon1 != blank and section.settings.icon1_url != blank %}
            <a href="{{section.settings.icon1_url}}" class="main_footer_content_head-social_item">
              {{ section.settings.icon1 }}
            </a>
          {% endif %}
          {% if section.settings.icon2 != blank and section.settings.icon2_url != blank %}
            <a href="{{section.settings.icon2_url}}" class="main_footer_content_head-social_item">
              {{ section.settings.icon2 }}
            </a>
          {% endif %}
          {% if section.settings.icon3 != blank and section.settings.icon3_url != blank %}
            <a href="{{section.settings.icon3_url}}" class="main_footer_content_head-social_item">
              {{ section.settings.icon3 }}
            </a>
          {% endif %}
          {% if section.settings.icon4 != blank and section.settings.icon4_url != blank %}
            <a href="{{section.settings.icon4_url}}" class="main_footer_content_head-social_item">
              {{ section.settings.icon4 }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="main_footer_content_main">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'links' %}
            <div class="main_footer_content_main_link">
              <div class="main_footer_content_main_link-title main_title {% if block.settings.title == blank %}main_footer_content_main_link-title_hidden{% endif %}">
                {{ block.settings.title }}
              </div>
              <ul class="main_footer_content_main_link_items">
                {% for link in block.settings.linklist.links %}
                  <li>
                    <a class="main_title" href="{{link.url}}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% endcase %}
        {% endfor %}
      </div>
      <div class="main_footer_content_copyright main_title">
        {{ section.settings.copyright }}
      </div>
    </div>
    <div class="main_footer_action main_title">
      <div class="main_footer_action_wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'button' %}

            <div class="main_footer_action_button main_footer_action_button-{{forloop.index0}}">
              <a href="{{block.settings.button_url}}">{{ block.settings.button_text }}</a>
              <div class="main_footer_action_button_svg">{{section.settings.arrow_svg}}</div>
            </div>
            {% when 'newsletter' %}
              <div class="main_footer_content_main main_footer_content_main_mobile">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'links' %}
            <div class="main_footer_content_main_link">
              <div class="main_footer_content_main_link-title main_title {% if block.settings.title == blank %}main_footer_content_main_link-title_hidden{% endif %}">
                {{ block.settings.title }}
              </div>
              <ul class="main_footer_content_main_link_items">
                {% for link in block.settings.linklist.links %}
                  <li>
                    <a class="main_title" href="{{link.url}}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% endcase %}
        {% endfor %}
      </div>
            <div class="main_footer_action_newsletter">
              <div class="main_footer_action_newsletter_title"> {{ block.settings.title }}</div>
              <div class="main_footer_action_newsletter_content">{{ block.settings.content}}</div>
              <input class="main_footer_action_newsletter_input" placeholder="{{block.settings.input_placeholder}}">
            </div>
          {% endcase %}

        {% endfor %}
      </div>
      <div class="main_footer_content_copyright main_footer_content_copyright_mobile main_title">
        {{ section.settings.copyright }}
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Logo"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#1C1A1D"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "secondary_color",
        "label": "Secondary color",
        "default": "#B0B0B0"
      }, {
        "type": "header",
        "content": "Social icon settings"
      }, {
        "type": "html",
        "id": "icon1",
        "label": "Icon 1"
      }, {
        "type": "url",
        "id": "icon1_url",
        "label": "Icon 1 url"
      }, {
        "type": "html",
        "id": "icon2",
        "label": "Icon 2"
      }, {
        "type": "url",
        "id": "icon2_url",
        "label": "Icon 2 url"
      }, {
        "type": "html",
        "id": "icon3",
        "label": "Icon 3"
      }, {
        "type": "url",
        "id": "icon3_url",
        "label": "Icon 3 url"
      }, {
        "type": "html",
        "id": "icon4",
        "label": "Icon 4"
      }, {
        "type": "url",
        "id": "icon4_url",
        "label": "Icon 4 url"
      }, {
        "type": "header",
        "content": "Copyright"
      }, {
        "type": "richtext",
        "id": "copyright",
        "label": "Copyright content"
      }, {
        "type": "html",
        "id": "arrow_svg",
        "label": "Arrow SVG"
      }
    ],
    "blocks": [
      {
        "name": "Link list",
        "type": "links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "link_list",
            "id": "linklist",
            "label": "Link list"
          }
        ]
      }, {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "VITAL CLUB"
          }, {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }, {
            "type": "color",
            "id": "button_background_color",
            "label": "Button background color",
            "default": "#1C1A1D"
          }, {
            "type": "color",
            "id": "button_text_color",
            "label": "Button text color",
            "default": "#fff"
          }
        ]
      }, {
        "name": "Newsletter",
        "type": "newsletter",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "SUBSCRIBE"
          }, {
            "type": "textarea",
            "id": "content",
            "label": "Content",
            "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
          }, {
            "type": "text",
            "id": "input_placeholder",
            "label": "Input placeholder",
            "default": "Enter your email"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Main footer section"
      }
    ]
  }
{% endschema %}