{{ 'page-text.css' | asset_url | stylesheet_tag }}
<script src="{{ 'page-text.js' | asset_url }}" defer="defer"></script>

{% style %}
   .title_sections_page_text{
    color: {{section.settings.color_text_title}};
   }
   .page_text_content{
    color: {{section.settings.color_text}};
   }
   
{% endstyle %}

<div class="page_text">
    <div class="container">
        <div class="page_text_wrapper">
            <div class="title_sections title_sections_page_text">{{section.settings.section_title}}</div>
            <img class="text_page_image" src="{{section.settings.image_page | img_url: 'master'}}" alt="section.settings.image_page.alt">
            <div class="page_text_content">{{section.settings.page_text_content}}</div>
            <button class="button_base button_big button_page_text">{{section.settings.button_text}}</button>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Page text",
    "settings": [
      {
        "type": "color",
        "id": "color_text",
        "label": "Color text",
        "default": "#1C1A1D"
      },
      {
        "type": "color",
        "id": "color_text_title",
        "label": "Title color",
        "default": "#1C1A1D"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
      },
      {
        "type": "image_picker",
        "id": "image_page",
        "label": "Image page"
      }, {
        "type": "richtext",
        "id": "page_text_content",
        "label": "Text content"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "7 days free"
      },
      {
        "type": "url",
         "id": "button_url",
        "label": "Button URL"
    },
    {
        "type": "color",
        "id": "button_background_color",
        "label": "Button background color",
        "default": "#FFC000"
    },
    {
        "type": "color",
        "id": "button_text_color",
        "label": "Button text color",
        "default": "#1C1A1D"
    }

    ],
    "presets": [
      {
        "name": "Page text section"
      }
    ]
  }
{% endschema %}