{{ 'products.css' | asset_url | stylesheet_tag }}

{% style %}
.title_sections_products{
    color: {{section.settings.color_title_text}};
}

{% endstyle %}

<script src="{{ 'products.js' | asset_url }}" defer="defer"></script>

<div class="container">
    <div class="products">  
    <div class="title_sections title_sections_products">{{section.settings.section_title}}</div>
    <div class="featured-block swiper_wrapper_button_between">
    <div class="swiper productsSwiper"> 
        <div class="swiper-wrapper">
            {% for product in section.settings.collection.products %}
            <div class="swiper-slide">
                <a href="#" class="products_item">
                    {% for image in product.images limit:1 %} 
                        <img class="products_item_image" src="{{ image.src | product_img_url: 'master' }} " alt="{{image.alt}}"></img>
                    {% endfor %}
                    <div class="products_item_title main_title">{{product.title}}</div>
                    <div class="products_price_wrapper">
                        <div class="products_item_price">{{product.price | money}}</div>
                        <div class="products_item_price products_item_price_compare">{{product.compare_at_price | money}}</div>
                    </div>
                    <div class="products_item_sale">
                        {% if product.compare_at_price > product.price %}
                            SAVE
                            {% assign product_price = product.price | divided_by: 100 %}
                            {% assign product_price_compare = product.compare_at_price | divided_by: 100 %}
                            {% assign percent = product_price_compare | minus: product_price | times: 100 | divided_by: product_price_compare  %}
                            {{percent}}%
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}      
        </div>
    </div>
        <div class="swiper_wrapper_button">
            <div class="swiper_button  swiper-button-next swiper-button-next_products"></div>
            <div class="swiper_button  swiper-button-prev swiper-button-prev_products"></div>  
        </div>
    </div>
    <div class="swiper-pagination_products swiper__dot"></div>
</div>
</div>

{% schema %}
    {
        "name": "Products",
       
        "settings": [
            {
                "type": "text",
                "id": "section_title",
                "label": "Title",
                "default": "FEATURED PRODUCTS"
            },
            {
                "type": "color",
                "id": "color_title_text",
                "label": "Color title",
                "default": "#1C1A1D"
            },
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            }
        ],
        "presets": [
            {
                "name": "Products list"
            }
        ]
    }
{% endschema %}