{{ 'rules-sports.css' | asset_url | stylesheet_tag }}
<script src="{{ 'rules-sports.js' | asset_url }}" defer="defer"></script>

{% style %}
  .rules-sports{
    background-color: {{section.settings.section_background}};
  }
  .rules-sports_slide_sab_title{
    color: {{section.settings.color_text}};
  }
  .rules-sports_slide_title{
    color: {{section.settings.color_text}};
  }
  .rules-sports_title{
    color: {{section.settings.color_text}};
  }
  .rules-sports_sab_title{
    color: {{section.settings.color_text_grey}};
  }
    
 {% endstyle %}

 <div class="rules-sports">
    <div class="swiper rulesSportsSlider ">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide swiper__slide_rules_sports">
                            <a href="#" class="rules_sports-slider_item">
                                <div class="rules_sports-slide_image">
                                    <img src="{{block.settings.rules-sports_slide_image | img_url: 'master'}}" alt="{{block.settings.rules-sports_slide_image.alt}}">
                                </div>
                               <div class="text_wrapper">
                                <div class="rules-sports_sab_title">{{block.settings.rules-sports_sab_title}}</div>
                                <div class="rules-sports_title">{{block.settings.rules-sports_slide_title}}</div>
                               </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
              </div>
              <div class="featured-block featured-block_rules-sports">
                <div class="swiper_wrapper_button swiper_wrapper_button_rules-sports swiper_wrapper_button_right">
                    <div class="swiper_button swiper-button-next swiper-button-next_rules-sports"></div>
                    <div class="swiper_button swiper-button-prev swiper-button-prev_rules-sports"></div>  
                </div>
                <div class="swiper-pagination_rules-sports swiper__dot"></div>
            </div>
 </div>

 {% schema %}
    {
        "name": "Rules sports",
        "settings": [
            {
                "type": "color",
                "id": "section_background",
                "label": "Section background",
                "default": "#1C1A1D"
            },
            {
                "type": "color",
                "id": "color_text",
                "label": "Color text",
                "default": "#FFFFFF"
            },
            {
                "type": "color",
                "id": "color_text_grey",
                "label": "Color text",
                "default": "#D9D9D9"
            }
        ],
        "blocks": [
           {
            "type": "block",
            "name": "Rules sports slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "rules-sports_slide_image",
                    "label": "Image slide"
                },
                {
                    "type": "text",
                    "id": "rules-sports_sab_title",
                    "label": "Sab title slide"
                },
                {
                     "type": "text",
                    "id": "rules-sports_slide_title",
                    "label": "Title slide"
                }
            ]
           }
           
        ],
        "presets": [
            {
                "name": "Rules sports section"
            }
        ]
    }
 {% endschema %}