{{ 'why-equipt.css' | asset_url | stylesheet_tag }}
<script src="{{ 'why-equipt.js' | asset_url }}" defer="defer"></script>

{% style %}
  .accordion_title {
    color: {{ section.settings.color_text}}
    ;
  }
  .accordion_sab_title {
    color: {{ section.settings.color_text}}
    ;
  }
  .title_sections_black {
    color: {{ section.settings.color_text_title}}
    ;
  }
{% endstyle %}

<div class="container">
  <div class="why_equipt">
    <div class="why_equipt_wrapper">
      <div class="why_equipt_accordion">
        <div class="title_sections title_sections_black">{{ section.settings.section_title }}</div>
        <div class="accordion">
          {% for block in section.blocks %}
            <div class="accordion_item">
              <div class="accordion_title_wraper">
                <div class="accordion_title main_title main_title">{{ block.settings.accordion_title }}</div>
                <div class="accordion_arrow">
                  {{ section.settings.arrow_svg }}
                </div>
              </div>
              <div class="accordion_sab_title main_title">{{ block.settings.accordion_sab_title }}</div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="accordion_image">
        <img
          class="why_equipt_image"
          src="{{section.settings.image_page | img_url: 'master'}}"
          alt="{{section.settings.image_page.alt}}">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Why equipt",
    "settings": [
      {
        "type": "color",
        "id": "color_text",
        "label": "Color text",
        "default": "#1C1A1D"
      },
      {
        "type": "color",
        "id": "color_text_title",
        "label": "Title color",
        "default": "#1C1A1D"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Title",
        "default": "Why Equipt?"
      },
      {
        "type": "image_picker",
        "id": "image_page",
        "label": "Image page"
      }, {
        "type": "html",
        "id": "arrow_svg",
        "label": "Arrow SVG"
      }

    ],
    "blocks": [
      {
        "name": "Why equipt item",
        "type": "accordion",
        "settings": [
          {
            "type": "text",
            "id": "accordion_title",
            "label": "Title"
          }, {
            "type": "textarea",
            "id": "accordion_sab_title",
            "label": "Sab title"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Why equipt section"
      }
    ]

  }
{% endschema %}