.banner{
    padding-bottom: 6px;
}
.banner-image-url{
    padding: 170px 0 265px 0 ;
    padding-left: 250px;
}
.banner_sab_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.banner_title{
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: uppercase;
    max-width: 562px;
    margin-bottom: 30px;
}
.banner_wrapper_button{
    display: flex;
    align-items: center;
}
.phone-block{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    padding: 10px;
    margin-right: 20px;
    background-color: #1C1A1D;

}
.banner_slider_wrapper{
    padding-left: 300px;
}
.bannerSlider{
    top: -100px;
    padding-right: 20px;
}
.banner-slider_item{
    text-decoration: none;
}
.banner-slider_image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.banner_slider_wrapper_link{
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end
}
.slider_link_text{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    margin-right: 14px;
    margin-top: 15px;
}
.slider_link_arrow_svg{
    height: 22px;
}
.banner-slider_item:hover .slider_link_text {
    color: #FFC000;
}
.banner-slider_item:hover svg path{
    fill: #FFC000;
}
.swiper_wrapper_button_banner{
    right: 11%;
}
.featured-block_banner{
    top: -59px;
}
/* .swiper-pagination_banner{
    display: none;
} */
/* .swiper-pagination_banner_fraction{
    display: block !important;
} */
.swiper-pagination_banner{
    margin: 0;
    display: block;
}
.swiper-pagination_banner_fracction{
    display: block !important;
}
@media only screen and (max-width: 768px) {
    .banner{
        padding-bottom: 0;
    }
    .banner-image-url{
        padding: 50px 0 371px 0;
        padding-left: 0;
    }
    .banner_title{
        font-size: 40px;
        line-height: 51px;
    }
    .banner_slider_wrapper{
        padding-left: 15px;
        margin-bottom: -23px;

    }
    .bannerSlider{
        top: -80px;
        padding-right: 15px;
    }
    .featured-block_banner{
        justify-content: center;
    }
    .swiper-pagination_banner{
        width: auto !important;
    }
    .buttoon_banner{
        display: block !important; 
    }
    /* .swiper-pagination_banner{
        display: block;
    } */
    /* .swiper-pagination_banner_fraction{
        display: none;
    } */
}

