.benefits{
    padding: 28px 0; 
}
.benefits_item-image {
    max-width: 75px;
}
.benefits_wrapper{
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}
.benefits_item{
    display: flex;
    align-items: center;
}
.benefits_item-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1C1A1D;
    padding-left: 22px;
}
@media only screen and (max-width: 1200px) {
    .benefits_item-image {
        max-width: 64px;
    }
    .benefits_item-title {
        font-size: 27px;
        line-height: 29px;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 992px) {
    .benefits_item-image {
        max-width: 58px;
    }
    .benefits_item-title {
        font-size: 22px;
        line-height: 24px;
    }
}

@media only screen and (max-width: 768px) {
    .benefits_wrapper{
        justify-content: center;
    }
    .benefits_item{
        display: none;
    }
    .benefits_item-image {
        max-width: 75px;
    }
    .benefits_item:first-child{
        display: flex;
    }
    .benefits_item-title{
        max-width: 150px;
        font-size: 30px;
        padding-left: 22px;
    }
}