.blog{
    padding: 100px 0 90px 0;
}
.blog_wrapper_top{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog_wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 20px;
}
.blog_wrapper_card{
    text-decoration: none;
}
.blog_wrapper_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog_sab_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #B0B0B0;
}
.blog_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1C1A1D;
    margin-bottom: 5px;
}
.blog_wrapper_link{
    display: flex;
}
.blog_link_text {
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1C1A1D;
    margin-right: 14px;
}

@media only screen and (max-width: 768px) {
    .blog{
        padding: 80px 0 70px 0;
    }
    .blog_wrapper_top{
        margin-bottom: 30px;
    }
    .button_base{
        display: none;
    }
    .blog_wrapper{
        display: flex;
        gap: inherit;
    }
    .blog_sab_title{
        font-size: 12px;
        line-height: 15px;
    }
    .blog_title{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 3px;
    }
    .blog_link_text{
        font-size: 15px;
        line-height: 19px;
        margin-right: 8px;
    }
    .blog_link_svg svg{
        width: 15px;
        height: 15px;
    }
}