.cards{
    margin-bottom: 100px;
}
.cards_wrapper{
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 50px 23px;
}
.card_item{
    display: flex;
    text-decoration: none;
}
.card_image{
    width: 50%;
}
.card_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card_item_text{
    padding-left: 20px;
    width: 50%;
}
.card_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1C1A1D;
}
.card_description{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1C1A1D;
    margin: 5px 0 15px 0;
}
.swiper-pagination_cards{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .card_item{
        flex-direction: column;
    }
    .card_item_text{
        width: 100%;
        padding-left: 0;
        padding-top: 13px;
    }
    .card_image{
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .cardsSwiper{
        display: block;
    }
    .cards{
        margin-bottom: 40px;
    }
    .cards_wrapper{
      display: flex;
      gap: inherit;
    }
    .swiper-pagination_cards{
        display: flex !important;
    }
}