.comments{
   padding: 120px 0;
}
.comments_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.comments_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 64px;
}
.slider_content{
    text-align: center;
    margin: 36px 0 50px 0;
}
.comment-text{
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.user_name{
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.swiper-pagination_comments{
    display: block;
    margin: 0;
}
@media only screen and (max-width: 768px) {
    .comments{
        padding: 80px 0 40px 0;
     }
    .comments_title{
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 54px;
    }
    .comment-text{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .user_name{
        font-size: 18px;
        margin-bottom: 0;
    }
    .slider_content{
        margin-bottom: 0;
    }
    .swiper-pagination_comments{
        display: flex;
        margin: 40px 0;
    }
}