.companies{
    padding: 32px 0;
}
.companies_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
}
.company_item{
    flex: 0 0 19%;
    text-align: center;
}
.company_item img{
    width: 100%;
}
@media only screen and (max-width: 1130px) {
    .company_item{
    }
}
@media only screen and (max-width: 768px) {
    .companies{
        padding: 49px 0;
    }
    .companies_wrapper{
        display: grid;
        grid-template: auto / repeat(1, 1fr);
        justify-items: center;
    }
    .company_item{
        display: none;
    }
    .company_item:first-child{
        display: block;
    }
}
