.gallery{
  padding: 100px 0;
}
.swiper_slide_gallery_item{
  margin-top: 0 !important;
}
.swiper_slide_gallery_item img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .swiper__slide_gallery{
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, 1fr);
 }
 .swiper_slide_gallery_item:first-child{
  grid-column: 1 / 4;
  margin-bottom: 20px;
 }
 .swiper_slide_gallery_item:last-child{
  margin-left: 20px;
 }
  .title_sections_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .title_sections_gallery{
    max-width: 700px;
    text-align: center;
  }
  .gallery_wrapper{
    padding: 0 70px;
    position: relative;
    margin-bottom: 50px;
  }
  .gallery_button_wraper{
    display: flex;
    justify-content: center;
  }
  .gallerry_swiper_wrapper_button{
    top: 50%;
  }
  .gallery_swiper_button_next{
    right: 69px;
  }
  .gallery_swiper_button_prev{
    left: -71px;
  }
  .swiper-pagination_gallery{
    display: none;
  }
  @media only screen and (max-width: 768px){
    .gallery{
        padding: 80px 0 40px 0;
      }
      .gallery_wrapper{
        padding: 0;
        margin-bottom: 0;
      }
      .title_sections_wrapper{
        margin-bottom: 40px;
      }
      .gallery_button_wraper{
        display: none;
      }
      .swiper__slide_gallery{
        grid-template: repeat(3, auto) / repeat(1, 1fr);
        gap: 15px;
       }
       .swiper_slide_gallery_item:first-child{
        margin-bottom: 0;
        grid-column: inherit;
       }
       .swiper_slide_gallery_item:last-child{
        margin-left: 0;
       }
      .swiper-pagination_gallery{
        display: block;
      }
  }