.information-block_wrapper{
    display: grid;
    grid-template: auto / repeat(2, 1fr);
    gap: 5px 20px;
    padding: 100px 0;
}
.information-block_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;
    text-transform: uppercase;
    color: #1C1A1D;
}
.information-block_img img{
    width: 100%;
}
.information-block_text p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1C1A1D;
    margin: 0;
    margin-bottom: 20px;
}
.information-block_text p:last-child{
    margin-bottom: 0;
}
@media only screen and (max-width: 768px){
    .information-block_wrapper{
        grid-template: auto / repeat(1, 1fr);
        padding: 80px 0 60px 0;
    }
    .information-block_title{
        font-size: 30px;
        line-height: 38px;  
    }
}