.main_footer_wrapper{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}
.main_footer_content{
    flex: 0 0 73%;
}
.main_footer_content_head{
    border-bottom: 1px solid #7C7C7C;
    padding: 48px 40px 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_footer_content_head-logo img{
    width: 143px;
    height: 47px;
}
.main_footer_content_head-social{
    display: flex;
    align-items: center;
}
.main_footer_content_head-social > a {
    padding-left: 25px;
}
.main_footer_wrapper > div{
    width: 100%;
}
.main_footer_content_main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0 15px;
}
.main_footer_content_main{
    border-bottom: 1px solid #7C7C7C;
    padding: 50px;
}
.main_footer_content_main_link-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main_footer_content_main_link_items{
    padding: 0;
    margin: 0;
}
.main_footer_content_main_link_items a{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
}
.main_footer_content_copyright{
    padding: 20px 50px;
}
.main_footer_content_copyright p {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    max-width: 837px;
}
.main_footer_action{
    border-left: 1px solid #7C7C7C;
}
.main_footer_action_button{
    padding: 50px 40px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main_footer_action_button a{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.main_footer_action_button-1 .main_footer_action_button_svg  path{
    fill: #FFFFFF;
}
.main_footer_action_newsletter{
    border-top: 1px solid #7C7C7C;
    padding: 70px 50px 20px 40px;
}
.main_footer_action_newsletter_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.main_footer_action_newsletter_content {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;

}
.main_footer_action_newsletter_input{
    background-color: #FFFFFF;
    padding: 0 15px;
    width: 100%;
    border: none;
    outline: none;
    height: 48px;
}
.main_footer_action_newsletter_input::placeholder{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.main_footer_content_main_mobile{
    display: none;
}
.main_footer_content_copyright_mobile{
    display: none;
}
@media only screen and (max-width: 768px) {
.main_footer_wrapper{
   flex-direction: column;
}
.main_footer_content_head{
    padding: 40px 15px 15px 15px;
    border-bottom: none;
}
.main_footer_content_main{
    flex-direction: column;
    padding: 0;
    border-top: 1px solid #7C7C7C;
    border-bottom: 0;
}
.main_footer_content_main_link{
    border-bottom: 1px solid #7C7C7C;
    width: 100%;
    padding: 30px 15px;
}
.main_footer_content_copyright{
    padding: 30px 15px;
}
.main_footer_content_copyright p {
    width: auto;
    text-align: center;
}
.main_footer_action_newsletter{
    padding: 30px 15px;
    border-bottom: 1px solid #7C7C7C;
    border-top: none;
}
.main_footer_action{
    border-left: 0;
}
.main_footer_action_button{
    padding: 30px 15px;
}
.main_footer_content_main{
    display: none;
}
.main_footer_content_main_mobile{
    display: block;
}
.main_footer_content_copyright{
    display: none;
}
.main_footer_content_copyright_mobile{
    display: block;
}
}
