.page_text{
    padding: 100px 0 241px 0;
}
.page_text_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px;
}
.title_sections_page_text{
    margin-bottom: 50px;
    text-align: center;
}
.page_text_content{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    max-width: 800px;    
}
.text_page_image{
    display: block;
    width: 100%;
    min-height: 400px;
    object-fit: cover;
}
.button_page_text{
    margin-top: 28px;
}
@media only screen and (max-width: 768px) {
    .page_text{
        padding: 80px 0 260px;
    }
    .page_text_wrapper{
        padding: 0;
    }
    .button_page_text{
        display: none;
    }
    .title_sections_page_text{
        margin-bottom: 40px;
    }
    .page_text_content{
        width: auto;
    }
}