.products{
    padding-bottom: 100px;
    position: relative;
}
.title_sections_products{
    margin-bottom: 53px;
}
.products_item{
    position: relative;
    text-decoration: none;
}
.products_item_title{
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #1C1A1D;
    margin: 15px 0;
}
.products_price_wrapper{
    display: flex;
}
.products_item_image{
    width: 100%;
}
.products_item_price{
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-decoration-line: line-through;
    color: #7C7C7C;
}
.products_item_price_compare{
    font-weight: 700;
    color: #1C1A1D;
    margin-left: 15px;
}
.products_item_sale{
    padding: 5px 10px;
    background-color: #FFC000;
    width: max-content;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-transform: uppercase;
    color: #1C1A1D;
    position: absolute;
    top: 0;
    right: 0;
}
@media only screen and (max-width: 768px) {
    .products{
        padding-bottom: 33px;
    }
    .title_sections_products{
        margin-bottom: 40px;
    }
    .products_item_title{
        font-size: 18px;
        line-height: 23px;
    }
    .products_item_price{
        font-size: 16px;
        line-height: 20px;
    }
    .products_item_sale{
        left: 0;
    }
}