.rules_sports-slide_image img {
    width: 100%;
    min-height: 354px;
    display: block;
    object-fit: cover;
}
.rules-sports{
    height: 360px;
}
.rulesSportsSlider{
    top: -40%;
}
.featured-block_rules-sports{
    top: -24%;
    padding: 0 0 0 50px;
}
.swiper_wrapper_button_rules-sports{
    right: 40px;
}
.swiper__slide_rules_sports{
    width: 50%;
}
.swiper-pagination_rules-sports{
    margin: 0;
    display: block;
}
.rules_sports-slider_item{
    position: relative;
}
.text_wrapper{
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 20px;

}
.rules-sports_sab_title{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.rules-sports_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
    .rulesSportsSlider{
        top: -23%;
    }
    .featured-block_rules-sports{
        top: -25%;
        padding: 0;
    }
    .swiper-pagination_rules-sports{
        margin: 40px 0;
        display: flex !important;
    }
    .rules-sports_title{
        font-size: 25px;
        line-height: 32px;
    }
}