.why_equipt{
    margin: 100px 0;
}
.why_equipt_wrapper{
    display: flex;
    gap: 0 20px;
}
.accordion{
    margin-bottom: 10px;
}
.accordion_item{
    border-bottom: 1px solid #1C1A1D;
    padding: 40px 0;
}
.accordion_item_active  .accordion_arrow svg{
    transform: rotate(-180deg);
}
.accordion_item_active .accordion_sab_title {
    display: block;
}
.accordion_title_wraper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.accordion_image{
    flex: 0 0 57%;
}
.accordion_title{
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
}
.accordion_sab_title{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #1C1A1D;
    margin-top: 22px;
    display: none;
}
.why_equipt_image{
    width: 100%;
}
.accordion_arrow{
    padding-left: 20px;
    
}

  @media only screen and (max-width: 768px) {
    .why_equipt{
        margin: 80px 0;
    }
    .why_equipt_wrapper{
        flex-direction: column;
    }
    .why_equipt_accordion{
        margin-bottom: 40px;
    }
    .accordion_item{
        padding: 20px 0;
    }
    .accordion_title{
        font-size: 20px;
        line-height: 26px;
    }
    .accordion_sab_title{
        font-size: 16px;
        line-height: 150%;
    }
 
  }